*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: red;
}

div.wrapper{
    background-color:green;
    height:100vh;
    width:100vw;
}

.box{
    background-color: yellow;
    width:200px;
    height:200px;
    border: 4px solid black;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 90px;
}
#box1 > h1{
    color: black;
    background-color: blue;
}



